*{
    margin: 0px 0px;
    padding: 0;
    
}

/* INICIO ESTILOS HERO */
        
    header{
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0px;
        opacity: 0.8;
    } 

    .logo1{
        color: green;
        width: 90px;
        position: relative;
        top: 22px;
        left: 50px;
    }
    a{
        color: white;
        margin: 0px 10px 0px 30px; 
        padding-left: 40px;
    }

    .lupa{
        position: absolute;
        left: 550px;
        top: 20px;
    }

    .menu{
        position: absolute;
        left: 600px;
        top: 20px;

    }

    .logosredes{
        width: 120px;
       display: flex;
       justify-content: space-around;
       align-items: center;
       position: absolute;
       left: 1250px;
       top: 20px;
    }
    

    
    header{
        background-color: black;
        color: white;
        font-size: 9px;
    }

/* INICIO ESTILOS DEL HERO */
    .hero{
        background-color: black;
        height: 500px;
    }
    
    .heroinfo{
        font-size: 50px;
        color: white;
        height: 1vh;
        position: absolute;
        left: 120px;
        top: 170px;
    }
    
    .puntoverde{
        position: absolute;
        left: 285px;
        top: -30px;
        color: rgb(21, 164, 17);
    }
    .letraverde{
        position: absolute;
        left: 125px;
        top: 125px;
        color: rgb(21, 164, 17);
        font-size: small;
    }
    .sub{
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
    }
    .movs1{ 
         position: absolute;
        left: 10px;
        top: 125px;
    }
    .movs2{ 
        position: absolute;
       left: 145px;
       top: 125px;
   }
    .imagenhero{
        height: 450px;
        width: 780px;
        margin: 50px 250px;
    }
   
/* INICIO ESTILO DEL ABOUT*/
    .about{
        background-color: whitesmoke
    }
    .aboutghizzoni{
        font-size: 30px;
        position: relative;
        left: 0px;
        top: -12px;
    }
    .about{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 100px 150px 120px 150px ;
    }

 /* INICIO ESTILO SKILLS */
    .skills{
        background-image: url(../img/escritorioosc.png);
        height: 495px;
    }

    .ps{
        color: white;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 85px;
       
    }
    .habilidades{
        color: rgb(234, 61, 61);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 95px;
       font-size: 15px;
        color: gray;
     
    }
    .barras{
        position: relative;
        top: 120px;
        padding-left: 150px;
    }

    .HTMLCSS, .WORDPRESS, .SEQ, .PHP{
        position: relative;
        top: 10px;
        left: 10px;
    }
    /* .container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
    }

    .container .progress-container{
        margin-bottom: 25px;
    }

    .container .progress-container h4{
        margin: 0 0 15px 15px;
        letter-spacing: .5px;
    }

    .container .progress-container .progress-bar span{
        position: relative;
        width: 500px;
        height: 30px;
        border-radius: 30px;
        background-color: white;
        box-shadow: 3px 4px 5px 6px rgba(204 185 185 / .75);
    }

    .container .progress-container .progress-bar span{
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        color: white;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.7;
        text-align: center;
        border-radius: 30px;
        background: linear-gradient(90deg, rgba(76,175,80,1) 50% rgba(50,222,132,1)100%);
        transition: width .5s linear;
    }

 */

 .progress-bar1 {
    width: 46%;
    height: 40px;
    background-color: #08D848;
    border-radius: 20px;
    overflow-wrap: normal;
    box-shadow: 2 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 295px;
    top: -10px;  
    opacity: 0,8;
} 
.progress-bar2 {
    width: 39%;
    height: 40px;
    background-color: #08D848;
    border-radius: 20px;
    overflow-wrap: normal;
    box-shadow: 2 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 295px;
    top: 10px;  
}  .progress-bar3 {
    width: 43%;
    height: 40px;
    background-color:#08D848 ;
    border-radius: 20px;
    overflow-wrap: normal;
    box-shadow: 2 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 295px;
    top: 30px;  
}  .progress-bar4 {
    width: 41%;
    height: 40px;
    background-color: #08D848;
    border-radius: 20px;
    overflow-wrap: normal;
    box-shadow: 2 2px 5px rgba(0, 0, 0, 0);
    position: relative;
    left: 295px;
    top: 50px;  
} 



/* .progress {
    height: 100%;
    width: 100%;
    background-color: rgb(19, 234, 19);
    transition: width 0.3s ease;
} */




.textoskills{
   color: rgb(250, 250, 250);
   text-align: center;
   justify-content: center;
   position: absolute;
   top: 900px;
   left: 500px;
}
.subhabilidades{
    position: relative;
    top: 15px;

}

/* INICIO ESTILOS MY WORK */
.fondomywork{
    width: 1200px;   
   position: relative;
   right: 30px;
   top: -165px;
}
.mis-trabajos{
    color: rgb(189, 21, 21);
    position: relative;
    margin: 20px;
  
}
.d1, .d2, .d3, .d4{
    width: 100px;
    height: 100px;
}

.nav2{
    color: rgb(188, 49, 49);
    font-size: xx-small;
   text-align:center;
   position: absolute;
   top: 1565px;
   left: 350px;
   padding-bottom: 250px;
     
}
.unamuestra{
    color: white;
}
.mywork{
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1760px;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
} */
.muestra1, .muestra2{
    background-color: #092630;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    width: 100%;
    margin: ;
}

.my1 .my2 .my3 .my4 .my5 .my6{
    height: 50px;
    width: 50px;
    background-color: #092630;
    border: 10px solid black;
}

.im1, .im2, .im3, .im4,.im5{
width: 250px;
}

/* INICIO ESTILOS ECPERIENCIA */
.contenedorexp{
    align-items: center;
    justify-content: center;
}