*{
    margin: 0px 30px;
    padding: 0;
    
}

/* estilos del header */
        
        header{
        width: 1200px;
        position: fixed;
        top: 5px;
        right: 90px;
        opacity: 0.8;
        
        } 

    .logo1{
        color: green;
        width: 90px;
        position: relative;
        top: 22px;
        left: 0px;
    }
    
    .logosredes{
        height: 2px;
        position: relative;
        top: -15px;
        left: 820px;
    }
    
    a{
        color: white;
        margin: 0 1px; 
        padding-left: 60px;
    }
    
    header{
        background-color: black;
        color: white;
        font-size: x-small;
    }

    /* INICIO DEL HERO */
    .hero{
        background-color: black;
        height: 500px;
    }
    
    .heroinfo{
        font-size: 50px;
        color: white;
        height: 1vh;
        position: absolute;
        left: 120px;
        top: 170px;
    }
    
    .puntoverde{
        position: absolute;
        left: 285px;
        top: -30px;
        color: rgb(21, 164, 17);
    }
    .letraverde{
        position: absolute;
        left: 125px;
        top: 125px;
        color: rgb(21, 164, 17);
        font-size: small;
    }
    .sub{
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
    }
    .movs1{ 
         position: absolute;
        left: 10px;
        top: 125px;
    }
    .movs2{ 
        position: absolute;
       left: 145px;
       top: 125px;
   }
    .imagenhero{
        height: 450px;
        width: 780px;
        margin: 50px 250px;
    }
   

    .about{
        background-color: whitesmoke
    }
    .aboutghizzoni{
        font-size: 30px;
    }
    .about{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 90px 150px 120px 150px ;
    }
 */
